* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.logo{
    font-size: 30px;
}



body{
    font-family: "Montserrat", sans-serif;
    color: #3F260F;
    font-weight: bolder;
}



.header{
    width: 100%;
    height: 107px;
    position: absolute;
    top: 30px;
    left: 0px;
}
.header_inner{
    display:flex;
    align-items: center;
    justify-content: space-between ;
    padding: 30px 100px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(172, 138, 116, 0.63);
}
.header_information{
    display: flex;
    justify-content: space-between;
    gap: 30px
}
.header_location{
    display:flex;
    align-items: center;
    gap: 5px
}
.help_text{
    font-weight: 500;
}
.location_image{
    width: 15px;
    height: 19px;
}


.section_all{
    height: 100vh;
    width: 100%;
    padding: 40px 100px 0px 100px;
}
.section_bg{
    background-image: url("src/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.hero_inner{
    width: 90%;
    display:flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

}
.hero_card{
    background-color: rgba(172, 138, 116, 0.63);
    max-width: 700px;
    height: 450px;
    border-radius: 35px;
    padding: 60px 100px;
}
.about_us{
    font-size: 45px;
}
.about_us_help{
    margin-top:30px;
    margin-bottom: 30px;
    max-width: 250px;
}
.btn{
    background-color: #DAB579;
    border-radius: 15px;
    padding: 20px 40px;
    border: none;
    color: #3F260F;
    font-weight:normal;
    font-size: 15px;
    transition-duration: 0.2s;
    text-decoration: none;
    
}
.btn:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);

}
.about_us_div{
    display: flex;
    gap:20px;
    align-items: center;
}
.help_text1{
    width: 100px;
}


.section_catalog{
    height: 100%;
    background-image: linear-gradient(#B3947C,  #FFE6CD);
    text-align: center;
    

}


.title{
    margin-bottom: 40px;
    font-size: 40px;

}
.cards{
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
    
}

.cards_rows_card{
    background-color: #FFF1DA;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(3, 3, 3, 0.8);
    transition-duration: 0.2s;
    opacity: 1;
    transform: translateY(0);
    
}
.cards_rows_card.card_hidden_start{
    opacity: 0;
    transform: translateY(30px);
}
.cards_rows_card.card_show{
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.5s ease, transform 0.5s ease;

}
.cards_rows_card:hover{
    transition-duration: 0.2s;
    transform: scale(1.005);
    box-shadow: 0 0 15px rgba(3, 3, 3, 0.8);
}

.cards_rows_card_image{
    width: 100%;
    height:  350px;
}

.cards_rows_card_text{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.cards_rows_card_btn{
    width:200px
}
.miny_help_text{
    display: flex;
    font-size: 10px;
    font-weight: 500;
    background-color: #FFF1DA ;
    width: 120px;
    border-radius: 5px;
    align-items:center;
    justify-content: center;
    padding: 8px 3px;
    box-shadow: 0 0 5px rgba(3, 3, 3, 0.5);
}

.section_about_seller{
    display:flex;
    background-image: linear-gradient(#FFE6CD, #B3947C);
    align-items: center;
    justify-content: space-between;
    padding: 0px 162px; 
}
.about_seller{
    width: 600px
}
.question_button{
    padding: 15px 30px;
    width: 180px;
}
.about_seller_text{
    display: flex;
    flex-direction: column;
    gap:15px
}
.ul_about{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 18px 
}

.woman_image{
    width: 400px;
    height: 600px;
    z-index: 100;
}

.seller_name{
    display:flex;
    background-color: #DAB579; 
    font-size: 15px;  
    position: absolute;
    bottom: 100px;
    right: 0px;
    padding: 10px 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 105;
    clip-path: polygon(
    10px 0,
    100% 0,
    calc(100% - 10px) 100%,
    0 100%);


}
.seller_proffesion{
    display: flex;
    background-color: #f3c7a5;
    position: absolute;
    font-size: 15px;
    bottom: 65px;
    right: 30   px;
    padding: 10px 5px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    z-index: 104;
    clip-path: polygon(
    10px 0,
    100% 0,
    calc(100% - 10px) 100%,
    0 100%
    );

}
.image_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.image_circle{
    display: flex;
    justify-content: center;
    background-color: #A4816E;
    overflow: hidden;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    z-index: 98;
}


.image_div_name{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.section_reviews{

    background-image:linear-gradient(#B3947C, #FFE6CD);

    padding:50px 0;

    display:flex;
    flex-direction:column;
    align-items:center;

    overflow:hidden;

}



.reviews_slider{

    width:100%;

    overflow:hidden;

}



.reviews_track{

    display:flex;

    align-items:center;

    gap:40px;

    transition:transform .5s ease;

}



.review_card{

    flex:0 0 450px;

    padding:40px 50px 60px;


    background:#e4c385;

    border-radius:35px;


    opacity:.45;

    transform:scale(.8);


    transition:

        transform .5s ease,
        opacity .5s ease;


}



.review_card.active{

    opacity:1;

    transform:scale(1);

}



.review_card img{

    width:40px;

}



.title2{

    font-size:30px;

    margin:20px 0;

}

.buttons{
    display: flex;
    gap: 10px
}
.reviews_btn{
    display: flex;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;;
    background-color: #DAB579;
       cursor:pointer;

}

.mobile_svaz{
    display: flex;
    background-image: linear-gradient(#FFE6CD, #B3947C);
    justify-content: center;
    align-items: center;   
}
.mobile_svaz_div{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(172, 138, 116, 0.63);
    justify-content: center;
    padding: 70px 120px;
    gap:5px;
    border-radius: 15px;

}
.mobile_svaz_div2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:center
}
.mobile_svaz_div3{
    display: flex;
    flex-direction: row;
    gap: 5px
}
.help_text_svaz{
    font-size: 10px;
}
.help_text_accept{
    color:rgb(126, 103, 87)
}
.input_text{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: none;
    padding: 10px;
}
.order_btn{
    display: flex;
    height: 50px;
    align-items: center;
}
.help_text_accept a{
    color:  rgb(126, 103, 87) ;
}
.policy_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding-top: 30px;
    background-image: linear-gradient(#B3947C,  #FFE6CD);
    height: 100vh;
    
}
.policy{
    display:flex;
    flex-direction: column;
    gap:25px

}
.police_page_h{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.policy_div{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.return_policy{
    margin-top: 30px;
    color: #3F260F;
    font-size: 25px;
}
.background_div{
    background-color: #e9d1ab;
    padding: 30px 40px;
    border-radius: 30px;
}
.background_div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
